# Ignore python cache
__pycache__/
*.pyc

# Ignore environment
.venv/
env/
venv/
.env

# Ignore Large Datasets
data/raw/
data/unprocessed/*.csv
*.csv
*sample_500000_rows.csv
*.db
mlruns/
mlflow.db
.DS_Store

# Ignore Models
*.pkl
models/
